*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #cb1e40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    display: block;
}