*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

main {
    width: 100vw;
    height: 100vh;
    background: #00000090;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 24em;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 3px 5px #00000050;
}

.titulo {
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

img {
    width: 100%;
}

input, label, textarea, select {

    display: block;
    width: 100%;
    margin: 5px auto;
    border-radius: 7px;
    border-width: 1px;
}

form {
    display: block;
}

label{
    font-size: 14px;
    font-weight:700;
    color: #404040;
    padding: 5px;
}

input, select{
    padding: 15px
}

select{
    margin-bottom: 15px;
}

textarea {
    padding: 15px;
    resize: none;
    height: auto;
}

button {
    display: inline;
    width: 50%;
    margin:auto;
}

.enviar {
    text-align: center;
    background-color: #4349b5;
    margin: 0 auto;
    border:none;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    padding: 15px;
}

.enviar:hover {
    background-color: #1B207B;
}


.limpar {
    text-align: left;
    font-size: 12px;
    background-color: transparent;
    margin: auto;
    border:none;
    color: #4349b5;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px;
    width: 50%;
}
.limpar:hover {
    color: #1B207B;    
    text-decoration: underline;
    font-weight: bolder;
}


.botoes{
    margin: 0 auto;
    text-align: center;
    display: flex;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }