@import url('./root.css');

body {
    background-image: url('../assets/bg.webp');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000d2;
}

#login-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: fit-content;
    border-radius: .5rem;
    padding: 2rem;
    /* background: linear-gradient(15deg,#1a1118bb, #050718bb); */
}

#login-title {
    color: var(--branco);
    text-align: center;
    padding: 1.2rem;
    margin-bottom: 1rem;
}

#img-login {
    width: 100%;
    height: 150px;
    position: relative;
    margin-bottom: 1rem;
}

form {
    width: 100%;
}

input {
    width: 100%;
    padding: .4rem 0rem;
    background: transparent;
    font-weight: 500;
    border: none;
    outline: none;
    border-bottom: .15rem solid var(--cinza-medio);
    margin-top: .5rem;
    color: var(--roxo-claro);
    margin-bottom: 1.5rem;
    transition: .2s ease-in-out;
}

input:focus {
    border-bottom: .15rem solid var(--roxo-claro);
}

input:valid {
    border-bottom: .15rem solid var(--roxo-claro);
}

input::placeholder {
    color: var(--cinza-medio);
}

input[type=password] {
    font-weight: bolder;
    letter-spacing:.3rem;
    font-size: 1.5rem;
    height: 1.7rem;
}

#user-icon,#password-icon {
    position: relative;
    bottom: -.5rem;
    width: 1.75rem;
    height: 100%;
    filter: invert(47%) sepia(14%) saturate(1467%) hue-rotate(243deg) brightness(88%) contrast(84%);
}

label,
label:valid {
    display: flex;
    align-items: top;
    gap: .5rem;
    width: 100%;
    font-weight: normal;
    margin-top: 1em;
    font-size: .7em;
    color: var(--roxo-claro);
}

.material-icons-outlined {
    font-size: 2rem;
    color: var(--roxo-claro);
}

#btn-login {
    width: 100%;
    padding: .75rem .5rem;
    background: var(--roxo-claro);
    color: var(--branco);
    border: none;
    border-radius: .2rem;
    font-weight: bold;
    font-size: .9em;
    cursor: pointer;
    transition: .2s;
}

#btn-login:disabled {
    background: #251831;
    color: #4c3d3c;
}