*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {font-family: 'Stardew Valley ALL CAPS.ttf';
    src: local('Stardew Valley ALL CAPS.ttf') format('truetype'),
    local('StStardew Valley ALL CAPS.ttf')format('truetype'),
    url('Stardew Valley ALL CAPS.ttf') format('truetype');
}

@font-face {font-family: 'Stardew Valley Regular.ttf';
    src: local('Stardew Valley Regular.ttf') format('truetype'),
    local('Stardew Valley Regular.ttf') format('truetype'),
    url('Stardew Valley Regular.ttf') format('truetype');
}


body {
    background-image: url("../img/bg-stardew-valley.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    height: auto;
    font-size: 16px;
    margin-bottom: 80px;
}

h1 {
    font-family: 'Stardew Valley ALL CAPS';
    font-size: 60px;
    font-weight:normal;
    color: #ffffff;
    padding: 45px 0 30px 0;
    text-align: center;

}

header{
    background-image: linear-gradient(#006ac4, #3cd6c2);
    box-shadow: 1px 3px 3px 3px rgb(0, 15, 70);
    position: sticky;
    top: 0px;
    width: 100%;
}


h2 {
    font-size: 50px;
    font-family: 'VT323', monospace;
    color: white;
    font-weight: normal;
    text-align: center;
    margin: 25px;
}

h3{
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    margin: 25px;
    text-align: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #28c021;
    color: white;
    text-align: center;
    align-content: center;
    display: flex;
    align-content: center;
    padding: 10px;
}

footer ul{
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
}

a {
    color: #fff;
}

input, label, textarea, select {

    width: 100%;
    margin: 5px auto;
    border-radius: 7px;
    border-width: 1px;
    transition: .5s;
}

input[type=text]:hover, input[type=tel]:hover, input[type=email]:hover, input[type=date]:hover{
    transform: scale(1.02);
    transition: .3s;
    outline: 3px solid #28c021;

 }

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, input[type=date]:focus{
    outline: 3px solid #28c021;
    transition: .3s;
    color: #28c021;

}

select:hover{
    outline: 3px solid #7fff8a;
    transform: scale(1.02);
    transition: .3s;
}

select:focus{
    outline: 3px solid #7fff8a;
    transition: .3s;
    color: #138508;

}

label{
    font-size: 16px;
    font-weight:bold;
    color: #ffffff;
    float: left;
    clear: none;
    padding: 0px 1em 0px 8px;
}

input, select{
    padding: 18px
}

select{
    margin-bottom: 15px;
}


button {
    display: inline;
    width: 50%;
    margin:auto;
}

.enviar {
    text-align: center;
    background-image: linear-gradient(#3cd6c2, #006ac4);
    margin-top: 20px ;
    border:none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 15px;
    transition: 1s;
}

.enviar:hover {
    background-image: linear-gradient(#3cd649,#138508);
    color: white;
    transition: 1s;
}


.limpar {
    margin-top: 35px;
    align-items: baseline ;
    font-size: 12px;
    background-color: transparent;
    border:none;
    color: #ffffff;
    font-weight: bold;
    width: 50%;
    transition: .4s;

}
.limpar:hover {
    color: white;    
    text-decoration: underline;
    font-weight: bolder;
    outline: 1px white;
    transform: scale(1.25);
    transition: .4s;
}


.botoes{
    margin: 0 auto;
    text-align: center;
    display: flex;
}

  .inline-button {
    display:inline-flex;
    width: fit-content;
}

fieldset {
    padding: 10px;
    border-radius: 10px;
}

section {
    margin-bottom: 12px;
}


.formularioCompleto {
    width: 700px;
    margin: 25px auto;
    background-image: linear-gradient(to bottom, #0069c454, #28c02130);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 3px #00000050;

}

.maior-idade{
    display: flex;
    width: 25%;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

label[for=maiorIdade]{
    font-size: 18px;
}
label[for=menorIdade]{
    font-size: 18px;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 20px;
}

.suasConquistas{
    display: grid;
    grid-template-columns: 20px 2fr;
}  

input[type=checkbox]{
    height: 18px;
    outline: none;
}


