*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {font-family: 'Stardew Valley ALL CAPS.ttf';
    src: local('Stardew Valley ALL CAPS.ttf') format('truetype'),
    local('StStardew Valley ALL CAPS.ttf')format('truetype'),
    url('Stardew Valley ALL CAPS.ttf') format('truetype');
}

@font-face {font-family: 'Stardew Valley Regular.ttf';
    src: local('Stardew Valley Regular.ttf') format('truetype'),
    local('Stardew Valley Regular.ttf') format('truetype'),
    url('Stardew Valley Regular.ttf') format('truetype');
}


body {
    background-image: url("../img/bg-stardew-valley.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 100vh;
    background-attachment: fixed;
    font-size: 16px;
}

h1 {
    font-family: 'Stardew Valley ALL CAPS';
    font-size: 60px;
    font-weight:normal;
    color: #ffffff;
    padding: 45px 0 30px 0;
    text-align: center;

}

header{
    background-image: linear-gradient(#006ac4, #3cd6c2);
    box-shadow: 1px 3px 3px 3px rgb(0, 15, 70);
    position: sticky;
    top: 0px;
    width: 100%;
}

span {
    font-weight: bold;
}


h2 {
    font-size: 50px;
    font-family: 'VT323', monospace;
    color: white;
    font-weight: normal;
    text-align: center;
    margin: 25px;
}

h3{
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    margin: 25px;
    text-align: center;
}

footer{
    background-color: #13b92e;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding: 5px;
}

footer ul{
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
}

a {
    color: #fff;
}

input, label, textarea, select {

    display: block;
    width: 100%;
    margin: 5px auto;
    border-radius: 7px;
    border-width: 1px;
}


label{
    font-size: 14px;
    font-weight:bold;
    color: #ffffff;
    padding: 5px;
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}

input, select{
    padding: 15px
}

select{
    margin-bottom: 15px;
}

textarea {
    padding: 15px;
    resize: none;
    height: auto;
}

button {
    display: inline;
    width: 50%;
    margin:auto;
}

.enviar {
    text-align: center;
    background-color: #edd1ad;
    margin-top: 20px ;
    border:none;
    color: #6b220a;
    font-weight: 700;
    border-radius: 5px;
    padding: 15px;
    transition: .3s;
}

.enviar:hover {
    background-color: #ddb887;
}


.limpar {
    margin-top: 35px;
    align-items: baseline ;
    font-size: 12px;
    background-color: transparent;
    border:none;
    color: #edd1ad;
    font-weight: bold;
    width: 50%;
}
.limpar:hover {
    color: #f8e4c9;    
    text-decoration: underline;
    font-weight: bolder;
}


.botoes{
    margin: 0 auto;
    text-align: center;
    display: flex;
}

  .inline-button {
    display:inline-flex;
    width: fit-content;
}

fieldset {
    padding: 10px;
    border-radius: 10px;
}

section {
    margin-bottom: 12px;
}


.formularioCompleto {
    width: 700px;
    margin: 0 auto;
}

.maior-idade{
    display: flex;
    width: 25%;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

label[for=maiorIdade]{
    font-size: 20px;
}
label[for=menorIdade]{
    font-size: 20px;
}


