@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.corpo {
    background-color: #101010;
    margin: auto;
    text-align: justify;
    background-image: url('https://external-preview.redd.it/B341H1Bp9WWBMUafzoUqhGsGjmpT-mWE3-n-AK7pcxc.jpg?auto=webp&s=7fe13eae4aa19907db2384583f12f001fa7b7328');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.titulo {
    color: white;
    font-family: Roboto;
    font-weight: bold;
}

.media-picture {
    background-image: url('imagem.jpg');
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position: center;
    box-shadow: 5px 5px 5px 3px  rgba(0, 0, 0, 0.25);

}

.review-score{
    padding: 25px;
    font-size: 25px;
    font-weight: bolder;
    font-family: Roboto;
    color: black;
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px  rgba(0, 0, 0, 0.24);
    margin: 25px;
}

.review-user{
    padding: 25px;
    font-size: 25px;
    font-weight: bolder;
    font-family: Roboto;
    color: black;
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px  rgba(0, 0, 0, 0.24);
    margin: 25px;

}

.subtitulo {
    color: rgb(212, 59, 59);
    padding:20px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.527);
}

p {
    color: #bdbdbd;
    font-family: Roboto;
    padding: 10px;

}

.like {
    color: rgb(24, 24, 24);
    padding: auto;
    
}

.trailer{
    display: block;
    text-align: center;
    padding: 10px;

}
textarea {
    font-family: Roboto;
    padding: 10px;
    margin-left: 10px;
}
button {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: bolder;
}
input {
    padding: 10px;
}
