@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bg-gray: #ddd;
    --color-primary: #4D41C0;
    --white: #fff;
    --text-gray: #4a4a4a;
    --text-light-gray: #aaa;
    --star-yellow: #ffbb3a;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

html, body {
    background-color:var(--bg-gray);
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

.dsmovie-contact-container{
    display: flex;
    align-items: center;
}

.dsmovie-contact-container img{
    margin-right: 10px;
}

.dsmovie-card{
    width: 100%px;
}

#dsmovie-card-list{
    padding: 0 20px;
}

.dsmovie-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-description h3{
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-gray);
    text-align: center;
}

.dsmovie-card-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 20px 10px;
    border-radius: 0 0 8px 8px;
    background-color: var(--white);
    min-height: 200px;
    justify-content: space-between;
}

.dsmovie-btn, .dsmovie-btn:hover{
    background-color: var(--color-primary);
    width: 180px;
    height: 40px;
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

/* formulário */

.dsmovie-form-container{
    padding: 40px 0;
    max-width: 480px;
    
}

.dsmovie-form{
    width: 100%;
}

.dsmovie-form-description {
    background-color: var(--white);    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.dsmovie-form-description h3{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dsmovie-form-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    gap: 5px;

}

.dsmovie-form-group label{
    font-size: 12px;
    color: var(--text-light-gray);
}    

.dsmovie-form-group{
    margin-bottom: 20px;
}

.dsmovie-card-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-card-description-bottom img{
    width: 22px;
}

.dsmovie-card-description-bottom h4 {
    color: var(--star-yellow);
    font-size: 16px;
    font-weight: 700;
}

.dsmovie-card-description-bottom p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-gray);
    margin: 10px;
}

/* paginação */

.dsmovie-pagination-container {
    padding: 15px 0;
    display: flex;
    justify-content: center;   
}

.dsmovie-pagination-box {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsmovie-pagination-box p {
    margin: 0px;
    font-size: 12px;
    color: var(--color-primary);
    font-weight: 5500;
}

.dsmovie-pagination-box button img{
    filter: brightness(0) saturate(100%)  invert(28%) sepia(58%) saturate(1847%) hue-rotate(226deg) brightness(87%) contrast(99%);
}
.dsmovie-pagination-box button:disabled img{
    filter: unset;
}

.dsmovie-pagination-box button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dsmovie-pagination-box button:disabled {
    border: 1px solid var(--text-light-gray);
}

.dsmovie-flip-horizontal {
    transform: rotate(180deg);
}

section {
    width: 50%;
    margin: 0 auto;
}