@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar-custom{
    height: 80px;
    padding-right: 24px;
    padding-left: 20px;
}

.slider-home{
    width: 100vw;
    height: calc(100vh - 80px);
    background-image: url(../images/slider-home.png);
}

.inside-slider{
    max-width: fit-content;
    height: auto;
    margin: 10px auto;
}

.titulo-principal {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    color: #E51B3E;
    text-align: left;
}

.slide-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.botao-explorar {
    padding: 10px 20px 10px; 
    background: transparent;
    border: 2px solid #33BB69;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition: .1s ease-in-out;
    margin: 15px;
}

.botao-explorar:hover {
    
    background: #33BB69;
    border: 2px solid #33BB69;
    color: #FFFFFF;
}
    
.botao-explorar:active {
    background: #33BB69;
    border: 2px solid #33BB69;
    transform: scale(1.05);
    color: #FFFFFF;
}

.botao-explorar:focus {
    outline: none;
    border: 2px solid #33BB69;
    box-shadow: none;
    background: #33BB69;
    color: #FFFFFF;
}
    
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow: none;
}

.movies-list{
    text-align: center;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    max-width: 960px;
}


.titulo-filmes {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
}

