

.main-title {
    color: rgb(240, 193, 252);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color:rebeccapurple;
    font-weight: bolder;
}


h1 {
    color: salmon;
}

h2 {
    color:rgb(7, 241, 97) ;
}

.post {
    background-color: lawngreen;
}

#paragrafoestiloso{
    color:indigo;
    font-weight: bolder;
}