@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@600&family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.home-title{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    line-height: 6rem;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.principal-total {
    width: 100vw;
    height: 100vh;
    background: #00000090;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 24em;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 3px 5px #00000050;
}

.titulo {
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

img {
    width: 100%;
}

input, label, textarea, select {

    display: block;
    width: 100%;
    margin: 5px auto;
    border-radius: 7px;
    border-width: 1px;
}

form {
    display: block;
}

label{
    font-size: 14px;
    font-weight:700;
    color: #404040;
    padding: 5px;
}

input, select{
    padding: 15px
}

select{
    margin-bottom: 15px;
}

textarea {
    padding: 15px;
    resize: none;
    height: auto;
}

button {
    display: inline;
    width: 100%;
    margin:auto;
    height: 50px;
}

.enviar {
    border-radius: 8px;
    box-shadow: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    position: relative;
    height: 48px;
    width: 100%;
    background-color: #4349b5;
    color: white;
    border: 0;
}



.enviar:hover {
    background-color: #1B207B;
}


.limpar {
    text-align: left;
    font-size: 12px;
    background-color: transparent;
    margin: auto;
    border:none;
    color: #4349b5;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px;
    width: 50%;
}
.limpar:hover {
    color: #1B207B;    
    text-decoration: underline;
    font-weight: bolder;
}


.botoes{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }