body {
    background-color: rgb(96, 252, 6);
    color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

h1 {
    color: #dbeb00;
    font-size: 5em;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 20px;
    padding: 10px;
}

.job-title {
    color: #09ff00;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
 
.florescente{
    color: rgb(187, 255, 0);
    padding: 20px;
    background-color: #eeff00;
}

#high {
color: rgb(176, 6, 255);
}

.azulzinho{
    color: rgb(0, 195, 255);
    background-color: rgb(0, 225, 255);
    padding: 20px;
}

.rosinha{
    color: rgb(176, 6, 255);
    background-color: magenta;
    padding: 10px;
}

ul {
    background-color: #08e2ff;
    color:background-color: #08e2ff;    ;
    padding: 10px;
}

a:hover {
    color: salmon;
}

a:visited{
    color: sandybrown;
}

a{
    color: silver;
}

::selection {
    color: rgb(187, 255, 0);
    background: yellow;
  }